<div id="<%= dom_id seller %>">
  <p>
    <strong>Slug:</strong>
    <%= seller.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= seller.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= seller.email %>
  </p>

</div>
