<p style="color: green"><%= notice %></p>

<h1>All Sellers</h1>

<div id="sellers">
  <% @sellers.each do |seller| %>
    <%= render seller %>
    <p>
      <%= link_to "Show this seller", seller_path(seller) %>
    </p>
  <% end %>
</div>

<%= link_to "New seller", new_seller_path %>
