<div id="<%= dom_id buyer %>">
  <p>
    <strong>Slug:</strong>
    <%= buyer.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= buyer.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= buyer.email %>
  </p>

</div>
