<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", seller_product_url(product.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New product for #{Seller.find(params[:seller_id]).slug}", seller_new_product_url %>
